@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.261);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
  --font-ms: var(--font-ms);
  --font-zllight: var(--font-zllight);
  --font-zlbold: var(--font-zlbold);
  --font-qalisso: var(--font-qalisso);

  --color-primary: #27F576;
  --color-orange: #F59F27;

  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
  --animate-background: backgroundPulse 2s ease 1s infinite;
  --animate-cell-ripple: cell-ripple var(--duration, 200ms) ease-out none 1
    var(--delay, 0ms);

}
 
@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}

@keyframes backgroundPulse {
  0% {
    background-color: #F54927;
  }
  25% {
    background-color: #27F56F;
  }
  50% {
    background-color: #4f46e5; 
  }
  75% {
    background-color: #E727F5;
  }
  100% {
    background-color: #F54927;
  }
}
 
  @keyframes cell-ripple {
    0% {
      opacity: 0.4;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      opacity: 0.4;
    }
  }

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}
