
#text{
    width: 100%;
    border-right: 3px solid white;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 2px;
    animation: 
    typing 2s infinite alternate,
    cursor .4s step-end infinite alternate;
}

@keyframes cursor{
    50%{
        border-color: transparent;
    }
}

@keyframes typing{
    from{
        width: 0%;
    }
}